@import '../styles/variables';

.header {
  background: $dark-blue;
  display: flex;
  justify-content: center;
  .container {
    &.top {
      display: flex;
      justify-content: space-between;
      .logo {
        height: 38px;
        margin: 44px 0;
      }
      .buttons-list {
        display: flex;
        list-style-type: none;
        margin: 44px 0;
        .buttons-option {
          margin: 0 15px;
          .buttons-item {
            color: $white;
            text-decoration: none;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
            &.left {
              border-right: 1px solid $white;
              padding-right: 20px;
            }
            &.green {
              color: $green;
            }
          }
        }
      }
    }
  }
}

.arrow {
  padding: 0 10px;
}